* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  ::-webkit-scrollbar {
    display: none;
  }
  background-image: linear-gradient(
    to right,
    #6d4141 35%,
    #ae8585 65%,
    antiquewhite 95%
  );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.col {
  font-size: 1rem;
  color: antiquewhite;
  justify-content: center;
}

#Título h1 {
  color: $colorTerceario;
  justify-content: space-around;
  padding-bottom: 100px;
}

h5 {
  color: $colorSecundario;
}
